PORT=3000
ORIGIN=http://localhost:5173
#MONGO_URL=mongodb://localhost:27017/BidOut

MONGO_URL=mongodb://127.0.0.1:27017/BidOut


JWT_SECRET=
JWT_EXPIRES_IN=1d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
RESEND_API_KEY=